<h4>Welcome to Money Me</h4>
<ul>
    <li>
        <a [routerLink]="['/main/customers']" title="Customers">Customers</a>
    </li>
    <li>
        <a [routerLink]="['/main/loans']" title="Loans">Loans</a>
    </li>
    <li>
        <a [routerLink]="['/main/products']" title="Products">Products</a>
    </li>
    <li>
        <a [routerLink]="['/main/email-domains']" title="Email Domains">Email Domains</a>
    </li>
    <li>
        <a [routerLink]="['/main/mobile-numbers']" title="Mobile Numbers">Mobile Numbers</a>
    </li>
</ul>
<router-outlet></router-outlet>